# 1. Ignore all by default
*
.*

# 2. Allow .gitignore and Readme
!.gitignore
!README.md

# 3. Global exclusion rules
.env
.env.*
!.env.example
docker-compose.override.yml
*.log
*.sql
*.tar
*.tar.gz
*.rclone*
rclone.conf
*.key
*.crt
*.pem

# 4. Gradually open services
!backup-manager/
backup-manager/*
!backup-manager/Dockerfile
!backup-manager/docker-compose.yml
!backup-manager/*.md
!backup-manager/*.sh
!backup-manager/.env.example

!nextcloud/
nextcloud/*
!nextcloud/docker-compose.yml
!nextcloud/.env.example
!nextcloud/*.md

!appflowy/
appflowy/*
!appflowy/docker-compose.yml
!appflowy/nginx/
!appflowy/*.md

# ---------------------------------------------------
# homarr
!homarr/
homarr/*
!homarr/docker-compose.yml
!homarr/.env.example
!homarr/README.md
