# System
PUID=1000
PGID=1000
TIMEZONE=Europe/Madrid

# Routes
RETRO_DATA_DIR=/opt/romm
ROM_LIBRARY_DIR=/opt/romm/library

# Ports
ROMM_PORT=8082
EMU_WEB_PORT=3001
EMU_BACKEND_PORT=3002

# Secrets and database
DB_NAME=romm
DB_USER=romm-user
DB_PASSWORD=secret_db_password
DB_ROOT_PASSWORD=secret_root_password
ROMM_SECRET_KEY=your_secret_key_here
IGNORE_AUTH=true
STEAMGRIDDB_API_KEY=your_steamgriddb_api_key
ROMM_BASE_URL=https://emu.yourdomain.com
