# --- System & Permissions ---
PUID=1001
PGID=1001
TZ=Europe/Madrid

# --- Optional Services Toggle (Profiles) ---
#COMPOSE_PROFILES=kitsunarr_enabled

# --- Ports ---
QBITTORRENT_WEBUI_PORT=8080
QBITTORRENT_TORRENTING_PORT=6881 # DO NOT bind the torrenting port to localhost.
SONARR_PORT=8989
PROWLARR_PORT=9696
#KITSUNARR_PORT=4080

# --- Host Directories (Configs) ---
QBIT_CONFIG_DIR=./qbit-config
SONARR_CONFIG_DIR=./sonarr/config
PROWLARR_CONFIG_DIR=./prowlarr/config
#KITSUNARR_DATA_DIR=./kitsunarr-data
#KITSUNARR_SECRETS_DIR=./kitsunarr-secrets

# --- Host Directories (Storage) ---
DATA_ROOT_DIR=/srv
MEDIA_CLOUD_DIR=/mnt/media

# --- Rclone Upload Script Settings ---
RCLONE_UPLOAD_SOURCE=/path/to/local/media
RCLONE_UPLOAD_DESTINATION=remote_name:remote_folder
RCLONE_UPLOAD_LOG=/opt/arr-stack/rclone-upload.log
