# ==========================================
# HEADSCALE & HEADPLANE CONFIGURATION
# ==========================================

# Host Paths (Bind mounts para configuraciones manuales)
HOST_CONFIG_PATH=/opt/core/headscale/config
HEADPLANE_CONFIG_DIR=/opt/core/headscale/headplane-config
