# Jellyfin Environment Variables
PUID=1000
PGID=1000
TIMEZONE=Europe/Madrid
JELLYFIN_PORT=8096

# Host Storage Paths
JELLYFIN_CONFIG_DIR=/srv/appdata/jellyfin/config
MEDIA_DIR=/mnt/media

# Memory limits
JELLYFIN_MEMORY_LIMIT=4096M
