# Security
RESTIC_PASSWORD="your_restic_password_here"
RCLONE_CONFIG_PATH="/root/.config/rclone/rclone.conf"

# Host Paths & Config
RCLONE_HOST_CONFIG="/home/your_user/.config/rclone"
NEXTCLOUD_HOST_DATA="/srv/nextcloud_data"
DOCKER_MONITORING_NETWORK="monitoring"
TIMEZONE="Europe/Madrid"

# AppFlowy Settings
ENABLE_BACKUP_APPFLOWY="false"
BACKUP_CRON_APPFLOWY="0 3 * * *"
APPFLOWY_RESTIC_REPO="rclone:gdrive:backups/appflowy"
APPFLOWY_DB_CONTAINER="appflowy_postgres_1"
APPFLOWY_MINIO_CONTAINER="appflowy_minio_1"
APPFLOWY_APP_CONTAINERS="appflowy_appflowy_cloud_1 appflowy_appflowy_worker_1 appflowy_appflowy_web_1 appflowy_gotrue_1 appflowy_nginx_1 appflowy_redis_1"
APPFLOWY_TEMP_DIR="/tmp/recovery_af"

# Nextcloud Settings
ENABLE_BACKUP_NEXTCLOUD="false"
BACKUP_CRON_NEXTCLOUD="30 3 * * *"
NEXTCLOUD_RESTIC_REPO="rclone:gdrive:backups/nextcloud"
NEXTCLOUD_DATA_DIR="/srv/nextcloud_data"
NEXTCLOUD_CONTAINER="nextcloud"
NEXTCLOUD_DB_CONTAINER="nextcloud-db"
NEXTCLOUD_DB_USER="nextcloud_user"
NEXTCLOUD_DB_NAME="nextcloud"
NEXTCLOUD_WEB_UID="33"
NEXTCLOUD_WEB_GID="33"
NEXTCLOUD_TEMP_DIR="/tmp/recovery_nc"

# Homarr Settings
ENABLE_BACKUP_HOMARR="false"
BACKUP_CRON_HOMARR="0 4 * * 0"
HOMARR_RESTIC_REPO="rclone:gdrive:backups/homarr"
HOMARR_DATA_DIR="/opt/homarr/appdata"
HOMARR_HOST_DATA="/opt/homarr/appdata"
HOMARR_CONTAINER="homarr"
HOMARR_TEMP_DIR="/tmp/recovery_homarr"

#Jellyfin Settings
ENABLE_BACKUP_JELLYFIN="false"
JELLYFIN_BACKUP_METADATA="false"
JELLYFIN_BACKUP_TRICKPLAY="false"
JELLYFIN_BACKUP_MEDIA="false"
BACKUP_CRON_JELLYFIN="0 5 * * 0"
JELLYFIN_CONTAINER="jellyfin"
JELLYFIN_HOST_CONFIG="/srv/appdata/jellyfin/config"
JELLYFIN_CONFIG_DIR="/srv/appdata/jellyfin/config"
JELLYFIN_HOST_MEDIA="/mnt/media"
JELLYFIN_MEDIA_DIR="/mnt/media"
JELLYFIN_RESTIC_REPO="rclone:gdrive:backups/jellyfin"
