# Node
NODE_HOSTNAME=
HEADSCALE_URL=https://headscale.tudominio.com
HEADSCALE_AUTHKEY=tskey-auth-xxxxxx

# Otional
CONTAINER_NAME=tailscale
TAILSCALE_STATE_DIR=/opt/core/tailscale/state
TAILSCALE_VERSION=stable
TAILSCALE_ADDITIONAL_ARGS=
TAILSCALE_ACCEPT_DNS=true
